.Search {
    width: 100%;
    box-shadow: 1px 3px 12px #eee;
}

.Search form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5% 0;
}

.Search .input-field {
    width: 70%;
}

.Search button {
    letter-spacing: 0;
    text-transform: initial;
    margin: 1%;
}

.Search .input-field {
    margin-top: 0;
    margin-right: 3%;
}

.Search .input-field input {
    margin: 0;
    margin-right: initial;
}

@media  (min-width: 320px) and (max-width: 830px) and (orientation: landscape) {
    .Search .input-field {
        margin-top: 0;
    }
    .Header button {
        width: 10em;
    }
}

@media  (min-width: 830px) {
    .Search .input-field {
        margin-top: 1rem;
    }
    .Search .input-field input {
        margin: 0 0 20px 0;
    }
}