.Search {
    width: 100%;
    box-shadow: 1px 3px 12px #eee;
}

.Search form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.Search button {
    letter-spacing: 0;
    text-transform: initial;
    margin: 0 1%;
    width: 5em;
}

.Search .input-field {
    width: 70%;
    margin: 1em 0.5em;
    margin-right: 3%;
}

.Search .input-field input {
    margin: 0;
    margin-right: initial;
    background-color: #fff;
}

@media (min-width: 320px) and (max-width: 830px) and (orientation: landscape) {
    .Search .input-field {
        margin-top: 0;
    }
    .Header button {
        width: 10em;
    }
}

@media (min-width: 830px) {
    .Search .input-field {
        margin-top: 1rem;
    }
}