.Account {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    text-align: left;
    text-transform: capitalize;
}

/* #modal_0>div.modal-content>button */
.Account button,
.modal button {
    letter-spacing: 0;
    text-transform: initial;
}

.Account h4 {
    font-family: "Elsie", 'Times New Roman', serif;
    text-align: center;
}

.Account .collapse-container {
    display: flex;
    justify-content: space-around;
}

.Account .sysCollapse,
.Account .userCollapse {
    flex-basis: 45%
}

.Account .collapsible-header {
    margin: 0.3% 0;
    font-family: "Arima Madurai";
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 1px;
    transition: all 0.35s;
}

.Account .sysCollapse .collapsible-header:hover,
.Account .userCollapse .collapsible-header:hover {
    background-color: rgba(196, 232, 18, 0.424);
}

.Account .sysCollapse .collapsible-header {
    background-color: rgba(53, 167, 177, 0.3);
}

.Account .userCollapse .collapsible-header {
    background-color: rgba(195, 49, 73, 0.2);
}

.Account .collapsible-body {
    padding: 0.5em 1em 0.5em 2em;
}

.Account .tab-content {
    display: flex;
}

.Account .imageSection {
    display: flex;
    flex-direction: column;
}

.Account .imageSection {
    flex-basis: 30%;
}

.Account .imageSection img {
    display: block;
    width: 65%;
    margin-bottom: 1%;
}

.Account .imageSection span {
    font-size: 0.8em;
}

.Account .ingredSection {
    flex-basis: 70%;
    overflow: auto;
}

.Account .userCollapse .ingredSection {
    flex-basis: 90%;
    overflow: auto;
}

.Account .ingredSection aside {
    display: flex;
    flex-wrap: wrap;
    max-height: 125px;
}

.Account .ingredSection aside .ingredients {
    flex: 1 0 40%;
    margin: 1%;
}

.Account .ingredSection h5 {
    font-size: 1.4em;
    margin-top: 0;
}

.Account .iconSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

.Account .fa-edit {
    font-size: 1.8em;
    cursor: pointer;
    transition: all 0.25s;
    color: #9e9e9e;
    margin: 0;
    display: inline-flex;
}

.Account .fa-edit:hover {
    color: rgb(255, 166, 0);
    transform: scale(1.2);
}

.Account .fa-trash-o {
    font-size: 1.8em;
    cursor: pointer;
    transition: all 0.25s;
    margin: 0;
}

.Account .fa-trash-o:hover {
    color: red;
    transform: scale(1.2);
}

.Account .addRecipeForm {
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(216, 207, 109, 0.25);
    width: 100%;
    padding: 2% 5%;
    margin: 3.25% 0;
    text-transform: initial;
}

.Account .addRecipeForm h5 {
    font-family: "Arima Madurai";
    margin-bottom: 1%;
}

.Account .addRecipeForm h6 {
    font-size: 0.8em;
    margin-bottom: 3%;
}

.Account .addRecipeForm .inputField {
    background-color: #fff;
    margin-bottom: 8px;
    height: 2rem;
}

.Account .addRecipeForm input[type="text"] {
    width: 35%;
    padding: 0 1%;
    margin-right: 1%;
}

.Account .addRecipeForm div p {
    margin: 1% 1% 0 0;
    display: inline-block;
}

.Account .addRecipeForm i {
    margin: 0 1%;
    margin-block-start: 1%;
    text-shadow: 0px 0.5px 1px rgba(34, 34, 34, 0.75);
    color: rgb(83, 218, 68);
    text-shadow: 0px 0.5px 1px rgba(34, 34, 34, 0.75);
    font-size: 1.3em;
    cursor: pointer;
    transition: all .1s;
}

.Account .addRecipeForm i:hover {
    transform: scale(1.05);
}

.Account .addRecipeForm .recipeBtn {
    width: 15rem;
    margin: 0 auto;
}

.Account .addRecipeForm #errorBar {
    opacity: 0;
    text-align: center;
    color: #fff;
    background-color: rgb(255, 0, 0);
    display: none;
}

.fade {
    color: aquamarine;
    transition: 1s;
}