@import url('https://fonts.googleapis.com/css?family=Elsie:100,400,500,900');
.Header {
    background-color: #EE6C4D;
    position: relative;
    color: #fff;
}

.Header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}

.Header .nav>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Header .nav>div a {
    margin: 0 3%;
}

.Header h1 {
    display: inline-block;
    position: initial;
    font-size: 2.5em;
    margin: 0;
    font-family: "Elsie", 'Times New Roman', Times, serif;
}

.Header h1 i {
    margin-right: 6px;
}

.Header nav {
    background-color: #EE6C4D;
    position: relative;
    display: inline;
}

.Header nav .col {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

.Header nav .brand-logo {
    position: initial;
    font-size: 3.5em;
    font-family: "Elsie", 'Times New Roman', Times, serif;
}

.Header button {
    letter-spacing: 0;
    text-transform: initial;
    width: 9.25em;
}

.Header .acctBtn {
    background-color: rgb(77, 179, 51);
}

.Header .acctBtn:hover {
    background-color: rgb(90, 207, 61);
}

.Header .logoutBtn {
    background-color: rgb(41, 149, 192);
}

.Header .logoutBtn:hover {
    background-color: rgb(48, 166, 212);
}

.Header button i {
    line-height: inherit;
}

.Header nav .nav-wrapper ul a {
    display: inline-block;
}

.Header nav ul a:hover {
    background-color: transparent;
}

.Header h6 {
    display: inline-block;
    font-size: 0.9em;
}

@media  (min-width: 320px) and (max-width: 740px) and (orientation: landscape) {
    .Header .nav>div {
        flex-direction: row;
    }
    .Header button {
        width: 10em;
    }
}

@media  (min-width: 750px) {
    .Header h1 {
        font-size: 3.5em;
    }
    .Header .nav>div {
        flex-direction: row;
    }
    .Header button {
        width: 10em;
    }
}