@import url('https://fonts.googleapis.com/css?family=Elsie:100,400,500,900');
.Header {
    background-color: #EE6C4D;
    position: relative;
    color: #fff;
}

.Header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}

.Header .nav>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-basis: 35%;
}

.Header .nav>div a {
    margin: 0 3%;
}

.Header h1 {
    display: inline-block;
    position: initial;
    font-size: 2.5em;
    margin: 0;
    font-family: "Elsie", 'Times New Roman', Times, serif;
}

.Header h1 i {
    margin-right: 6px;
    display: none;
}

.Header nav {
    background-color: #EE6C4D;
    position: relative;
    display: inline;
}

.Header nav .col {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

.Header nav .brand-logo {
    position: initial;
    font-size: 3.5em;
    font-family: "Elsie", 'Times New Roman', Times, serif;
}

.Header button {
    letter-spacing: 0;
    text-transform: initial;
    width: 11em;
}

.Header .acctBtn {
    background-color: rgb(77, 179, 51);
}

.Header .acctBtn:hover {
    background-color: rgb(90, 207, 61);
}

.Header .logoutBtn {
    background-color: rgb(41, 149, 192);
}

.Header .logoutBtn:hover {
    background-color: rgb(48, 166, 212);
}

.Header button i {
    line-height: inherit;
    font-size: 1.1em;
}

.Header span.badge {
    min-width: initial;
    padding: 0;
    margin-left: 3%;
    text-align: initial;
    font-size: 0.8em;
    line-height: initial;
    height: auto;
    color: rgb(238, 255, 0);
    float: initial;
}

.Header nav .nav-wrapper ul a {
    display: inline-block;
}

.Header nav ul a:hover {
    background-color: transparent;
}

.Header h6 {
    display: inline-block;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: el;
    max-width: 175px;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 0px) and (max-width: 813px) and (orientation: landscape) {
    .Header .nav>div {
        flex-direction: row;
        flex-basis: 25%;
    }

}

/* @media (min-height: 0px) and (max-height: 740px) {
    .Header .nav>div {
        flex-direction: column;
    }
} */

@media (min-width: 750px) {
    .Header h1 {
        font-size: 3.5em;
    }
            .Header h1 i {
                display: initial;
            }
    .Header .nav>div {
        flex-direction: row;
    }
}